---
import type { Translation } from "../i18n/types";
import Icon from "./Icon.astro";
interface Props { t: Translation }
const { t } = Astro.props;
---

<section id="faq" class="faq-section">
	<div class="page-container faq-layout">
		<div class="faq-heading"><h2>{t.faq.heading}</h2><p>{t.faq.subheading}</p></div>
		<div class="faq-list">
			{t.faq.items.map((item) => (
				<details><summary><span>{item.question}</span><Icon name="chevron" /></summary><p>{item.answer}</p></details>
			))}
		</div>
	</div>
</section>
